* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #0b1220;
    color: #e5e7eb;
}


nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #1f2937;
}

nav h2 {
    color: #38bdf8;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul a {
    color: white;
    text-decoration: none;
}

nav ul a:hover {
    color: #38bdf8;
}


#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle, #1e293b, #0b1220);
}

#hero img {
    width: 150px;
    border-radius: 50%;
    border: 3px solid #38bdf8;
    transition: 0.3s;
}

#hero img:hover {
    transform: scale(1.1);
}

#hero h1 {
    font-size: 2.5rem;
    margin-top: 10px;
}

#hero p {
    color: #94a3b8;
}


.btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    background: #0ea5e9;
}


section {
    padding: 80px 20px;
    max-width: 1000px;
    margin: auto;

    opacity: 0;
    transform: translateY(30px);
    transition: 0.8s;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    color: #38bdf8;
    margin-bottom: 20px;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.grid span {
    background: #1f2937;
    padding: 10px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

.grid span:hover {
    background: #38bdf8;
    color: black;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #111827;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #1f2937;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    border-color: #38bdf8;
}


#contact a {
    color: #38bdf8;
    text-decoration: none;
}


footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #1f2937;
    color: #94a3b8;
}
